3rd-party/*
*.mexglx
*.mexw64
*.mexw32
*.mexmaci64
*.mexmaci
*.mexa64
*~
*.pgm
*.a
*.so
*.la
*.o
*.orig
*.bmp
*.aux
*.toc
*.bbl
*.blg
*.log
*.backup
*.out
*.snm
*.nav
*.sublime-project
*.sublime-workspace
.classpath
.cproject
.htaccess
.merge_file_*
.project
.name
*.svn-base
cpp/*-build/
results/
cache/
data-tifs-2016-images
data-tifs-2016-maps
data-test-scenarios/
data-input/
data/
temp/
*.tsv
*.txt
*.mat
*.fig
*.script
*.table
*.tar
*.bz2
*.gz
*.lyx~
*.fdb_latexmk
*.tex
*.jpg
*.jpeg
*.JPG
*.JPEG
*.tiff
*.tif
*.TIF
*.TIFF